<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Google Clone {% block title %} {% endblock title %}</title>

    <!--Css Files-->
    <link rel="stylesheet" href="{% static 'main/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'%}">

</head>
<body class="bg-custom">

{% block content %}


{% endblock content %}
      <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js'%}" ></script>
      <script type="text/javascript" src="{% static 'main/jquery/jquery.min.js'%}" ></script>
</body>
</html>